.ProfileNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0;
}

.title {
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    text-align: start;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: underline;
    color: #36c;
    font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        padding: 5px;
    }
}